<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <paquery>
                <active>1</active>
                <title>Paquery</title>
                <model>Paquery\Shipping\Model\Carrier\Paquery</model>
                <sort_order>10</sort_order>
                <allowspecific>0</allowspecific>
                <name>Paquery</name>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <is_online>1</is_online>
            </paquery>
        </carriers>
    </default>
</config>
